.header {
    margin: 0;
    background-color: #000;
}

.header-ttl {
    padding: 10px 10px;
}

.header-content {
    display: flex;
}

.header-search_form input {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    width: 250%;
    padding: 9px 30px;
    position: relative;
    left: 50%;
    margin: 8px 0;
}

.header-button {
    position: relative;
    left: 37%;
    top: 15px;
}

.header-button a {
    margin-right: 25px;
}

.top_button {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.product_exhibit {
    border: 1px solid #fff;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    padding: 3px 15px;
    border-radius: 5px;
}

.main-content_detail {
    display: flex;
    margin-top: 50px;
}

.img-content {
    width: 400px;
    height: 400px;
    margin-left: 200px;
}

.main-content_text {
    margin-left: 200px;
}

.like-tap_button button {
    border: none;
    background-color: #fff;
}

.liked {
    color: yellow;
}

.fa-light {
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 25px;
}

.like-count {
    margin-top: -6%;
    margin-left: 1.5%;
    font-size: 0.8rem;
}

.comment-regular {
    width: 25px;
    height: 25px;
}